.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.lt-portfolio__item{
    background: var(--color-lt-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.lt-portfolio__item:hover {
    border-color: var(--color-lt-primary-variant);
    background: transparent;
}
.lt-portfolio__item h3{
    margin: 1.2rem 0 2rem;
}
.dk-portfolio__item{
    background: var(--color-dk-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.dk-portfolio__item:hover {
    border-color: var(--color-lt-primary-variant);
    background: transparent;
}
.dk-portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item-cta{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES)============*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/* ======== MEDIA QUERIES (SMALL DEVICES)============*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}
