header {
    height: 52rem;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ========= CTA ========= */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ========= HEADER SOCIALS ========= */
.lt-header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.dk-header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.lt-header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-lt-primary);
}
.dk-header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-dk-primary);
}

/* ========= IMAGE ========= */
.lt-me {
    background: linear-gradient(var(--color-lt-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.dk-me {
    background: linear-gradient(var(--color-dk-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ========= SCROLL DOWN ========= */
.lt-scroll__down {
    color: var(--color-lt-primary);
    transition: var(--transition);
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.dk-scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-dk-primary);
    transition: var(--transition);
}
.lt-scroll__down:hover {
    color: var(--color-black);
}
.dk-scroll__down:hover {
    color: var(--color-white);
}
/* ======== MEDIA QUERIES (MEDIUM DEVICES)============*/
@media screen and (max-width: 1024px) {
    
}
/* ======== MEDIA QUERIES (SMALL DEVICES)============*/
@media screen and (max-width: 600px) {
    
    .dk-header__socials, .lt-header__socials, .lt-scroll__down, .dk-scroll__down {
        display: none;
    }
}