@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* ===== REFERENCE COLORS ====*/
    --blue-topaz: #67aeca;
    --amethyst: #675682;
    --jewel: #5f0f4e;
    --rose: #e52a6f;
    --color-white: #fff;
    --color-black: #000;
    --color-red: red;
    

    --color-dk-bg: rgb(29, 29, 29);
    --color-dk-bg-variant: #443291;
    --color-dk-primary: #9c1167;
    --color-dk-primary-variant: #c92f60d4;
    --color-dk-light: #9c08d794;
    
    --color-lt-bg: rgb(202, 201, 201);
    --color-lt-bg-variant: #5f0f4e;
    --color-lt-primary-variant: #e52a6f;
    --color-lt-primary: #675682;
    --color-lt-light: #675682;
    --color-lt-nav: #67aeca;
    
    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


/* ======== APP DARK & LIGHT ====== */
.lt-app {
    font-family: 'Poppins', sans-serif;
    background: var(--color-lt-bg);
    color: var(--color-black);
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);
}
.dk-app {
    font-family: 'Poppins', sans-serif;
    background: var(--color-dk-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);
} 

/* ============== GENERAL STYLES ===================== */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
p {
    cursor: default;
}

h1,h2,h3,h4,h5 {
    font-weight: 500;
    cursor: default;
}

h1{
    font-size: 2.5rem;
}
small {
    cursor: default;
}
section {
    margin-top: 8rem;
}

.lt-section__head {
    margin-bottom: 2.5rem;
}
.dk-section__head {
    margin-bottom: 2.5rem;
}
.lt-section__head > h2, .lt-section__head > h5 {
    text-align: center; 
}
.dk-section__head > h2, .dk-section__head > h5 {
    text-align: center;
}
.lt-section__head > h2 {
    color: var(--color-lt-black);
    font-size: 1.75rem;
}
.lt-section__head > h5 {
    color: var(--color-lt-light);
    font-size: 0.95rem;
}
.dk-section__head > h2 {
    color: var(--color-lt-white);
    font-size: 1.75rem;
}
.dk-section__head > h5 {
    color: var(--color-lt-light);
    font-size: 0.95rem;
}
.lt-text-light {
    color: var(--color-lt-light);
}
.lt-head-text-light{
    font-family: sans-serif;
    font-style: italic;
    color: var(--color-lt-light);
}
.dk-text-light {
    color: var(--color-dk-light);
}
.dk-head-text-light{
    font-family: sans-serif;
    font-style: italic;
    color: var(--color-dk-light);
}

.lt-link {
    color: var(--color-lt-primary);
    transition: var(--transition);
}
.dk-link {
    color: var(--color-dk-primary);
    transition: var(--transition);
}

.lt-link:hover {
    color: var(--color-black);
}
.dk-link:hover {
    color: var(--color-white);
}

.lt-btn {
    width: max-content;
    display: inline-block;
    color: var(--color-lt-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-lt-primary);
    transition: var(--transition);
}
.lt-btn-head {
    width: max-content;
    background: rgba(255, 255, 255, 0.28);
    display: inline-block;
    color: var(--color-lt-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-lt-primary);
    transition: var(--transition);
}
.dk-btn {
    width: max-content;
    display: inline-block;
    color: var(--color-dk-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-dk-primary);
    transition: var(--transition);
}

.lt-btn:hover {
    background: var(--color-black);
    color: var(--color-lt-bg);
    border-color: transparent;
}
.lt-btn-head:hover {
    background: var(--color-black);
    color: var(--color-lt-bg);
    border-color: transparent;
}
.dk-btn:hover {
    background: var(--color-white);
    color: var(--color-dk-bg);
    border-color: transparent;
}

.lt-btn-primary {
    background: var(--color-lt-primary);
    color: var(--color-lt-bg);
}
.dk-btn-primary {
    background: var(--color-dk-primary);
    color: var(--color-dk-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}    

/* ======== MEDIA QUERIES (MEDIUM DEVICES)============*/
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}
/* ======== MEDIA QUERIES (SMALL DEVICES)============*/
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}